<%= render "layouts/headerSignIn" %>

<% provide(:title, "Log in") %>

<div class="row">
  <%= flash[:danger] %>
    <%= form_for(:session, url: login_path) do |f| %>

      <p><%= f.label :email %></p>
      <%= f.email_field :email, class: 'form-control' %>

      <p><%= f.label :password %></p>
      <%= f.password_field :password, class: 'form-control'  %>

      <a><%= f.submit "Log in", class: "btn btn-primary" %></a>
    <% end %>
</div>
