
<%= render "layouts/headerSignUp" %>

<h3 class='welcome' align='center'>Sign up</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <p><%= f.label :name %></p>
      <%= f.text_field :name, class: 'form-control' %>

      <p><%= f.label :email %></p>
      <%= f.email_field :email, class: 'form-control' %>

      <p><%= f.label :password %></p>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
