<%= render "layouts/headerUserAll" %>
<div class="row">
<p><%=flash[:danger]%></p>
<%= form_for([@user, @post], method: 'PATCH') do |form| %>
  <p><%= form.label :message %></p>
  <%= form.text_area :message%>
  <%= form.submit "Update" %>
<% end %>
</div>
