<%= render "layouts/headerUserAll" %>
<div class='message' align='center'>
<p><%=flash[:danger]%></p>
<p><%= "#{@post.message} - #{@post.created_at.to_date}"%></p>
</div>


<div class='edit' align='center'>
<%= link_to user_posts_path(@user) do %>
  Edit  
<% end %>
-
<%= link_to "Delete", user_post_url(@user, @post), method: 'DELETE'%>
